aiohappyeyeballs==2.4.3
aiohttp==3.11.7
aiosignal==1.3.1
alembic==1.14.0
async-timeout==5.0.1
attrs==24.2.0
blinker==1.7.0
cachelib==0.13.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
Flask==3.0.2
Flask-Cors==4.0.0
Flask-Login==0.6.3
flask-marshmallow==1.2.1
Flask-Migrate==4.0.7
Flask-Session==0.8.0
Flask-SQLAlchemy==3.1.1
frozenlist==1.5.0
greenlet==3.0.3
idna==3.10
imgbbpy==0.1.3
itsdangerous==2.1.2
Jinja2==3.1.3
Mako==1.3.6
MarkupSafe==2.1.5
marshmallow==3.21.1
msgspec==0.18.6
multidict==6.1.0
mysqlclient==2.2.4
packaging==24.0
propcache==0.2.0
python-dotenv==1.0.1
requests==2.32.3
SQLAlchemy==2.0.29
typing_extensions==4.10.0
urllib3==2.2.3
Werkzeug==3.0.1
yarl==1.18.0
